@charset "utf-8";
#test01 {
  width: 400px;
  background-color: #cccccc;
  padding-left: 20px;
  border: 6px double;
  margin: 10px; 
}
#test02 {
  width: 300px;
  padding: 20px 20px 20px 40px;
  border: 10px ridge #999999;
  margin: 50px;
}
