@charset "utf-8";
#shadow {
  text-shadow: 5px 5px 2px #777777;
}

#maru {
  -webkit-border-radius: 20px;
  border: 2px #000000 solid;
  background-color: #ff0000;
}

#ani {
  -webkit-animation-: 'anime' 5s ease -2s infinite alternate;
}

@-webkit-keyframes 'anime' {
  0% {width: 100px; height:20px, background-color: #000000;}
  100% {width: 200px; height: 20px; background-color: #ffffff;}
}
